.navbar {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.nav-left-section, .nav-right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}
.nav-left-section {
  margin-left: 10rem;
}
.nav-right-section {
  margin-right: 10rem;
}

.top-bar, .bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  font-size: 14px;
}
.top-bar {
  height: 2rem;
  ;
 border-bottom: 1px solid #e6e6e6;
}

.bottom-bar {
  height: 3.4rem;
}

.left-info, .center-info, .right-info {
  display: flex;
  align-items: center;
 
}

.info-item {
  margin-right: 20px;
  display: flex;
  
  align-items: center;
}


.icon {
  margin-right: 5px;
  color: goldenrod;
}

.link-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.nav-button {
  margin-right: 15px;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover {
  color: goldenrod;
}

.nav-logo {
  background-color: goldenrod;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 15rem;
  align-self: stretch;  /* <--- this makes it fill both nav heights */
}

.nav-logo h1 {
  margin: 0;
  font-size: 22px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-badge {
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.icon-badge.heart {
  background-color: #000;
  border-radius: 50%;
  padding: 4px;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: goldenrod;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
}
